<!DOCTYPE html>

<!--Home Page-->


<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title><%=pageTitle%></title>

    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="css/jumbotron-narrow.css" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
    <script src="js/ie-emulation-modes-warning.js"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>

    <div class="container">
        <div class="header clearfix">
            <nav>
                

                <% if(isLoggedIn){ %>
                    <h4><a href="addPage">Edit</a></h4>

                    <form action="/logout?_method=DELETE" method="POST">
                        <button type="submit">Log Out</button>
                    </form>

                <% } else { %>

                    <form action="/register">
                        <input type="submit" value="Sign Up" />
                    </form>
            
                    <form action="/login">
                        <input type="submit" value="Login" />
                    </form>
            
                    <form action="/auth/google">
                        <input type="submit" value="Login with Google" />
                    </form>

                <% } %>
        

            </nav>
            <h3 class="text-muted">
                <% if(name){ %>
                    <p>Hello <%-name%></p>
                <%} else {%>
                    <p>Hi There</p>
                <%}%>
            </h3>
        </div>

        

        <div class="row marketing">
            <div class="col-lg-6">
                <h4>What are Reptiles?</h4>
                <p>Reptiles are cold-blooded vertebrates that are distinguished by their dry, scaly skin, their four-chambered hearts, and their ability to lay eggs on land. They are also characterized by their high metabolic rate, their low body temperature, and their ability to survive in a wide range of environments. Reptiles are found on every continent except Antarctica, and they are the most numerous of all vertebrates. They are also the most diverse group of vertebrates, with more than 10,000 species. The earliest reptiles appeared in the late Paleozoic Era, about 300 million years ago. The first reptiles were amphibious, but they gradually became more adapted to life on land. The first reptiles were small, but they grew larger and more diverse as the Mesozoic Era progressed. The Mesozoic Era ended about 65 million years ago, when a meteorite struck the Earth and caused a mass extinction. The dinosaurs, the most famous reptiles, were among the species that became extinct. The Cenozoic Era began about 65 million years ago, and it is the era in which humans evolved. Reptiles are divided into two groups: the turtles and tortoises, and the lizards, snakes, and crocodiles. The turtles and tortoises are the most primitive reptiles. They are characterized by their hard shells, which protect them from predators. The lizards, snakes, and crocodiles are the most advanced reptiles. They are characterized by their ability to move quickly and to breathe through lungs. The lizards, snakes, and crocodiles are also characterized by their ability to lay eggs on land. The lizards, snakes, and crocodiles are the most diverse group of reptiles. They are found in a wide range of habitats, from deserts to rain forests. The lizards, snakes, and crocodiles are also the most numerous group of reptiles. They are found on every continent except Antarctica. The lizards, snakes, and crocodiles are also the most dangerous group of reptiles. They are responsible for the deaths of more than 100,000 people each year. The lizards, snakes, and crocodiles are also the most important group of reptiles. They are the source of leather, meat, and medicine. The lizards, snakes, and crocodiles are also the most important group of reptiles
                
                <h1>Reptiles</h1>
                <% if(reptiles.length == 0){ %>
                    <p>There are no reptiles</p>
                <% } else { %>
                    <ul>
                    <% reptiles.forEach( p => { %>
                        <div>
                            <h3>ID: <%= p.id %>  <%= p.name %></h3>
                            <h4>Scientific Name</h4>
                            <p>&nbsp&nbsp<%= p.scientificName %></p>
                            <h4>Description</h4>
                            <p>&nbsp&nbsp<%= p.description %></p>
                            <h4>Location</h4>
                            <p>&nbsp&nbsp<%= p.location %></p>
                            <h4>Life Expectancy</h4>
                            <p>&nbsp&nbsp<%= p.lifeExpectancy %></p>
                            <h4>Diet</h4>
                            <p>&nbsp&nbsp<%= p.diet %></p>
                            <h4>Enclosure</h4>
                            <p>&nbsp&nbsp<%= p.enclosure %></p>
                        </div>
                    <% }) %>
                    </ul>
                <% } %>

            </div>
        </div>

        <footer class="footer">
            <p>&copy; 2022 Reptile Resource NZ, Ltd.</p>
        </footer>

    </div>

    <script type="module" src = "../data/config.js"></script>
</html>
